@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Variables de base */
    --radius: 0.625rem;

    --font-sans: var(--font-geist-sans);
    --font-caption: var(--font-caption);

    /* Variables de couleurs */
    --background: hsl(218 14% 16%);
    --foreground: hsl(219 14% 71%);
    --muted: hsl(218 12% 20%);
    --muted-foreground: hsl(218 12% 70%);
    --popover: hsl(218 14% 13%);
    --popover-foreground: hsl(219 14% 81%);
    --card: hsl(218 14% 14%);
    --card-foreground: hsl(219 14% 76%);
    --border: hsl(218 4% 21%);
    --input: hsl(218 4% 24%);
    --primary: hsl(220 13% 86%);
    --primary-foreground: hsl(220 13% 26%);
    --secondary: hsl(220 3% 25%);
    --secondary-foreground: hsl(220 3% 85%);
    --accent: hsl(218 14% 31%);
    --accent-foreground: hsl(218 14% 91%);
    --destructive: hsl(10 85% 46%);
    --destructive-foreground: hsl(0 0% 100%);
    --ring: hsl(220 13% 86%);
    --chart-1: hsl(220 13% 86%);
    --chart-2: hsl(220 3% 25%);
    --chart-3: hsl(218 14% 31%);
    --chart-4: hsl(220 3% 28%);
    --chart-5: hsl(220 16% 86%);
}

@layer base {
    * {
        border-color: var(--border);
        outline-color: color-mix(in srgb, var(--ring) 50%, transparent);
    }

    body {
        background-color: var(--background);
        color: var(--foreground);
    }
}